@import "tailwindcss";

@theme {
  --color-agent-bg: #343541;
  --color-agent-user: #3E3F4B;
  --color-agent-bot: #444654;
  --color-agent-sidebar: #202123;
  --color-text-primary: #ECECF1;
  --color-text-secondary: #A9A9B3;
  --color-accent: #10A37F;
  --color-link: #19C37D;
  --color-border: #565869;
  --color-code-bg: #1E1E1E;
  --color-inline-code: #D19A66;
}
